.home-content[data-v-2e7b72c4] {
    position: relative;
    z-index: 1;
    font-size: 14px;
    background: #fff;
    padding: 15px 50px;
    min-height: calc(100vh - 60px);
}

.pagination-box[data-v-2e7b72c4] {
    margin: 30px 0;
    justify-content: center;
}

a[data-v-2e7b72c4] {
    color: #558bed;
}

.red[data-v-2e7b72c4] {
    color: #ff646d;
}

.green[data-v-2e7b72c4] {
    color: #46d7ab;
}

.icon-a+.icon-a[data-v-2e7b72c4] {
    display: inline-block;
    margin-left: 10px;
}