


// Responsive Css Code
@media screen and(max-width:1200px) {

    // Header Responsive Code
    .nav_menu {
        max-width: 325px;
    }
}

@media screen and(max-width:1024px) {
    // .is-guttered.top_token_tmb{
    //     grid-column:span 2;
    // }
    .sec_content_trede_chart_inner{
        grid-template-columns:1fr ;
        gap: 10px;
    }
}

@media screen and(max-width:991px) {

    // Header Responsive Code
    .header_inner {
        grid-template-columns: 1fr;
    }

    .header_aside_logo {
        justify-content: center;
    }

    .menu_items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav_menu {
        max-width: 720px;
        margin: 16px 0 8px;
    }

    .header_btn {
        position: initial;
        transform: initial;
        margin: auto;
    }
    
    .search-btn-container[data-v-04096ca8]{
        
        max-width: 240px!important;
        min-width: 240px!important;
    }
    .m_el-dropdown-link{
        display: none !important;
    }
    
}

@media screen and(max-width:767px) {

    .sec_bsc_charts {
        .sec_heading {
            font-size: 33px;

            .sec_info {
                font-size: 28px;
            }
        }
    }
    .sec_content_trede_chart_inner{
        grid-template-columns: 1fr;
    }
    
    // .head .content[data-v-04096ca8]{
    //     flex-direction: column;
    //     height: auto!important;
    // }
    .d_el-dropdown-link{
        display: none !important;
    }

    .m_el-dropdown-link{
        display: block !important;
    }
    .d_connect_tmb{
        display: none!important;
    }
    // .d_search_btn_tmb{
    //     display: none!important;
    // }
    // .search-btn-container[data-v-04096ca8]{
    //     max-width: 14px!important;
    //     min-width: 14px!important;
    // }
    // .search-btn-container[data-v-04096ca8]{
    //     padding: 2px 20px!important;
    //     justify-content: center;
    // }
    .nav-list .nav-item[data-v-04096ca8]{
        font-size: 12px!important;
    }
    .nav-list .nav-item + .nav-item[data-v-04096ca8]{
        margin-left: 10px!important;
    }
    .nav-list[data-v-04096ca8]{
        margin: 0 10px!important;
    }
    .search-btn-container[data-v-04096ca8]{
        margin-right: 6px!important;
        margin-left: 6px!important;
    }

    .el-row{
        display: grid !important;
    }
    .el-col-12{
        max-width: 100% !important;
    }

    .Home_section__16Giz{
        max-width: 100% !important;
    }

    .check-input[data-v-5a60c796]{
        width: 100% !important;
        margin: 30px auto 30px !important;
    }

    .container {
        width: 1200px !important;
        margin: 0 auto;
    }

    .home-content{
        overflow-x: auto !important;
    }

    .cssfx-hypnosis-loader{
        margin: 0 !important;
        top: 0 !important;
    }


   
    .content .histrory[data-v-a0a9e358] {
        width: 575px;
        overflow: scroll;
        white-space: nowrap;
    }
    .content .histrory[data-v-a0a9e358] > *{
        min-width: 1000px;
    }
    .check-note .check-note_c[data-v-5a60c796]{
        padding-left: 0px!important;
    }
    .el-col.el-col-24.el-col-xs-24.el-col-sm-24.el-col-md-14.el-col-lg-14.el-col-xl-14.is-guttered{
        padding: 0!important;
    }
    .share-container[data-v-5a60c796]{
        text-align: center!important;
    }
    .Home_section__16Giz{
        padding: 10px!important;
    }
    .histrory .content[data-v-a0a9e358] li,.histrory .top[data-v-a0a9e358]{
        justify-content: start!important;
        gap: 0px!important;
    }
    .histrory .top[data-v-a0a9e358],.histrory .content .flex[data-v-a0a9e358]{
        display: grid!important;
        grid-template-columns: 150px 100px 100px 170px 100px 100px 100px; 
        
    }    
    
    
}


@media screen and(max-width:575px) {
    
    .nav_link {
        padding: 0.25rem 0.4rem;
    }
    .content .histrory[data-v-a0a9e358] {
        width: 320px;
    }
    .sec_bsc_charts {
        .sec_heading {
            font-size: 27px;

        }

        .sec_info {
            font-size: 24px;
        }
    }

    // .card-list-item[data-v-5a60c796]{
    //     font-size: 10px!important;
    // }
    
    .m_el-dropdown-link.el-dropdown-link{
        display: none!important;
    }
}
.top_token_tmb{
    max-width: 100%!important;
}

.cssfx-hypnosis-loader{
    margin: auto;
    top: 50%;
}

canvas{
    z-index: 0 !important;
}

.ExtraInfoBlock__DescriptionHeader {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 13px;
    margin-top: 0;
    text-transform: capitalize;
}

.ExtraInfoBlock__DescriptionText {
    color: hsla(0,0%,100%,.7);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.ExtraInfoBlock__DescriptionText h2,.ExtraInfoBlock__DescriptionText p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.tv-lightweight-charts{
    padding-left: 4px;
}

.el-scrollbar__view .main{
    display: block;
}