.icon-add-btn[data-v-77675789] {
    padding: 7px 10px
}

[data-v-77675789] .el-radio-group {
    display: block;
    width: 100%
}

[data-v-77675789] .el-radio-group .el-radio {
    display: block;
    margin-bottom: 5px
}

.tokenInfo-container[data-v-3ff813d6] {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    align-items: center;
    font-size: 14px;
    color: #fff;
    background: #131722;
    letter-spacing: 0;
    text-align: left;
    margin: 8px 0;
    padding: 7px 20px;
    width: 100%
}

.tokenInfo-container .font16[data-v-3ff813d6] {
    font-size: 16px
}

.tokenInfo-container .price_content[data-v-3ff813d6] {
    margin: 20px 0 20px
}

.tokenInfo-container .border[data-v-3ff813d6] {
    border: 1px solid #787b86;
    border-radius: 20px;
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    margin-left: 10px
}

.tokenInfo-container .green[data-v-3ff813d6] {
    color: #00d136
}

.tokenInfo-container .right[data-v-3ff813d6] {
    margin-bottom: 12px
}

.tokenInfo-container .dot[data-v-3ff813d6] {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px
}

.tokenInfo-container .dot.blue[data-v-3ff813d6] {
    background: #558bed
}

.tokenInfo-container .dot.pure[data-v-3ff813d6] {
    background: #7673f3
}

.icon-token-container[data-v-3ff813d6] {
    margin-right: 15px
}

.icon-token-container .token-icon[data-v-3ff813d6] {
    width: 36px;
    height: 36px
}

.icon-token-container .icon-symbol[data-v-3ff813d6] {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 21px;
    z-index: 1;
    top: 20px
}

.token-container[data-v-3ff813d6] {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}

.token-symbol .token-symbol_top[data-v-3ff813d6] {
    font-size: 24px;
    color: #fcfcfd;
    font-weight: 500;
    display: flex;
    align-items: center
}

.token-symbol .token-symbol_bottom[data-v-3ff813d6] {
    font-size: 12px;
    color: #787b86;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0
}

.token-symbol .token-symbol_bottom a[data-v-3ff813d6] {
    color: #787b86
}

.token-symbol .token-symbol_bottom a[data-v-3ff813d6]:hover {
    color: #558bed
}

.token-symbol .icon-collect[data-v-3ff813d6] {
    font-size: 20px;
    color: rgba(128, 131, 139, .4);
    cursor: pointer;
    margin-left: 5px
}

.token-symbol .icon-collect.collected[data-v-3ff813d6] {
    color: #558bed
}

.token-symbol .icon-copy[data-v-3ff813d6] {
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px
}

.price-container[data-v-3ff813d6] {
    padding: 0 5px
}

.price-container .price[data-v-3ff813d6] {
    font-size: 24px;
    color: #fff;
    letter-spacing: 0;
    font-weight: 500;
    margin-bottom: 5px
}

.price-container .price-bottom[data-v-3ff813d6] {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500
}

.table-item[data-v-3ff813d6] {
    padding: 0 5px
}

.table-item[data-v-3ff813d6]>:first-child {
    font-size: 12px;
    color: #787b86;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 3px
}

.table-item[data-v-3ff813d6]>:nth-child(2) {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    font-weight: 500
}

.flex[data-v-3ff813d6] {
    padding: 0 5px
}

.flex .table-item[data-v-3ff813d6] {
    margin-right: 10px
}

.swap-container[data-v-3ff813d6] {
    padding: 0 5px;
    background: #131722;
    display: flex;
    align-items: center;
    justify-content: center
}

.swap-container .swap-button.el-button--primary[data-v-3ff813d6] {
    background-color: #191e2d;
    color: #558bed;
    min-width: 80px
}

.risk-status[data-v-3ff813d6] {
    font-size: 10px;
    color: #878fbc;
    border: 1px solid;
    border-radius: 20px;
    padding: 3px 5px;
    margin-left: 5px
}

.risk-status.high[data-v-3ff813d6] {
    color: #f72121
}

.risk-status.checked[data-v-3ff813d6] {
    color: #54d06f
}

.histrory[data-v-a0a9e358] {
    font-size: 12px;
    padding-bottom: 10px
}

.histrory .top[data-v-a0a9e358] {
    color: #787b86;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px
}

.histrory .top[data-v-a0a9e358]>:first-child,
.histrory .top[data-v-a0a9e358]>:nth-child(2),
.histrory .top[data-v-a0a9e358]>:nth-child(3),
.histrory .top[data-v-a0a9e358]>:nth-child(4),
.histrory .top[data-v-a0a9e358]>:nth-child(5),
.histrory .top[data-v-a0a9e358]>:nth-child(6) {
    flex: 1
}

.histrory .content[data-v-a0a9e358] {
    padding: 0 10px 20px;
    color: #c5cbce
}

.histrory .content a[data-v-a0a9e358]:hover {
    text-decoration: none;
    background-color: #1d2235
}

.histrory .content .flex[data-v-a0a9e358] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer
}

.histrory .content .flex[data-v-a0a9e358]>:first-child,
.histrory .content .flex[data-v-a0a9e358]>:nth-child(2),
.histrory .content .flex[data-v-a0a9e358]>:nth-child(3),
.histrory .content .flex[data-v-a0a9e358]>:nth-child(4),
.histrory .content .flex[data-v-a0a9e358]>:nth-child(5),
.histrory .content .flex[data-v-a0a9e358]>:nth-child(6) {
    flex: 1
}

.histrory .content .flex div[data-v-a0a9e358] {
    padding: 10px 0
}

.histrory .content .flex[data-v-a0a9e358]:hover {
    background-color: #1d2235
}

.histrory .content .green[data-v-a0a9e358] {
    color: #12b886
}

.histrory .content .red[data-v-a0a9e358] {
    color: #ff646d
}

.histrory a[data-v-a0a9e358] {
    color: #c5cbce
}

.histrory a[data-v-a0a9e358]:hover {
    color: #558bed
}

.histrory[data-v-7c520660] {
    font-size: 12px;
    padding-bottom: 10px
}

.histrory .top[data-v-7c520660] {
    color: #787b86;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px
}

.histrory .top[data-v-7c520660]>:first-child,
.histrory .top[data-v-7c520660]>:nth-child(2),
.histrory .top[data-v-7c520660]>:nth-child(3),
.histrory .top[data-v-7c520660]>:nth-child(4),
.histrory .top[data-v-7c520660]>:nth-child(5),
.histrory .top[data-v-7c520660]>:nth-child(6) {
    flex: 1
}

.histrory .content[data-v-7c520660] {
    padding: 0 10px 20px;
    color: #c5cbce
}

.histrory .content a[data-v-7c520660]:hover {
    text-decoration: none;
    background-color: #1d2235
}

.histrory .content .flex[data-v-7c520660] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer
}

.histrory .content .flex[data-v-7c520660]>:first-child,
.histrory .content .flex[data-v-7c520660]>:nth-child(2),
.histrory .content .flex[data-v-7c520660]>:nth-child(3),
.histrory .content .flex[data-v-7c520660]>:nth-child(4),
.histrory .content .flex[data-v-7c520660]>:nth-child(5),
.histrory .content .flex[data-v-7c520660]>:nth-child(6) {
    flex: 1
}

.histrory .content .flex div[data-v-7c520660] {
    padding: 10px 0
}

.histrory .content .flex[data-v-7c520660]:hover {
    background-color: #1d2235
}

.histrory .content .green[data-v-7c520660] {
    color: #12b886
}

.histrory .content .red[data-v-7c520660] {
    color: #ff646d
}

.histrory a[data-v-7c520660] {
    color: #c5cbce
}

.histrory a[data-v-7c520660]:hover {
    color: #558bed
}

.buyOrsell .title[data-v-50a903b6] {
    border-bottom: 1px solid #191e2d;
    width: 100%
}

.buyOrsell .title a[data-v-50a903b6] {
    color: #787b86;
    text-decoration: none;
    padding: 20px 0 20px 20px;
    display: inline-block
}

.buyOrsell .title a.active[data-v-50a903b6],
.buyOrsell .title a[data-v-50a903b6]:hover {
    color: #fff
}

.buyOrsell .header[data-v-50a903b6] {
    border-bottom: 1px solid #191e2d;
    padding: 11px 38px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    line-height: 20px
}

.buyOrsell .content[data-v-50a903b6] {
    padding: 5px 38px 20px 38px
}

@media screen and (max-width:768px) {
    .buyOrsell .header[data-v-50a903b6] {
        padding: 15px
    }

    .buyOrsell .content[data-v-50a903b6] {
        padding: 16px
    }
    .tokenInfo-container[data-v-3ff813d6] {
        display: grid;
    }
}

.k-line-chart-container[data-v-642ca464] {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: left;
    margin-top: 0;
    min-height: 500px
}

.k-line-chart[data-v-642ca464] {
    display: flex;
    flex: 1;
    position: relative
}

.token-info[data-v-645d49b6] {
    display: flex;
    align-items: center
}

.token-info .token-symbol[data-v-645d49b6] {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 5px
}

.token-info .icon-collect[data-v-645d49b6] {
    font-size: 16px;
    color: #787b86;
    cursor: pointer;
    margin-right: 2px
}

.token-info .icon-collect.collected[data-v-645d49b6] {
    color: #558bed
}

.token-info .token-network[data-v-645d49b6] {
    border: 1px solid #878fbc;
    border-radius: 10px;
    font-size: 12px;
    color: #878fbc;
    padding: 2px 5px;
    margin-left: 9px
}

.token-info .token-icon[data-v-645d49b6] {
    border-radius: 50%
}

.token-info .ad-tag[data-v-645d49b6] {
    border: 1px solid;
    padding: 0 4px;
    font-size: 12px;
    margin-left: 5px;
    color: #878fbc;
    border-radius: 5px
}

.iconfont[data-v-645d49b6] {
    cursor: pointer
}

.icon-edit[data-v-645d49b6] {
    margin-left: 10px
}

.fav-tabs[data-v-645d49b6],
.tab-top[data-v-645d49b6] {
    margin-bottom: 10px
}

.tabs[data-v-645d49b6] {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.tabs .icon-add-btn[data-v-645d49b6] {
    margin: 0 15px 0 0
}

.trading[data-v-590ed78a] {
    background: #131722;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    padding-top: 20px
}

.trading .info[data-v-590ed78a] {
    padding: 20px;
    font-size: 14px;
    color: #fff;
    margin-bottom: 12px
}

.trading .info .title[data-v-590ed78a] {
    display: block;
    margin-bottom: 10px
}

.trading .info .gray_color[data-v-590ed78a] {
    color: #787b86
}

.trading .empty[data-v-590ed78a] {
    display: flex;
    align-items: center;
    justify-content: center
}

.trading .empty>div[data-v-590ed78a] {
    text-align: center
}

.trading .empty img[data-v-590ed78a] {
    width: 50px;
    margin-bottom: 20px
}

.trading .header[data-v-590ed78a] {
    border-bottom: 1px solid #131722;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 20px
}

.trading .header a[data-v-590ed78a] {
    text-decoration: none;
    padding: 2px 0;
    font-size: 12px;
    color: #787b86;
    letter-spacing: 0;
    line-height: 20px;
    border: 1px solid #787b86;
    width: 33.3%;
    text-align: center
}

.trading .header a[data-v-590ed78a]:not(:last-child) {
    border-right: 0
}

.trading .header a[data-v-590ed78a]:first-child {
    border-radius: 2px 0 0 2px
}

.trading .header a[data-v-590ed78a]:last-child {
    border-radius: 0 2px 2px 0
}

.trading .header a[data-v-590ed78a]:hover {
    text-decoration: none
}

.trading .header a.active[data-v-590ed78a] {
    background: #558bed;
    color: #fff;
    border: 1px solid #558bed
}

.trading .history[data-v-590ed78a] {
    font-size: 12px;
}

.trading .history .top[data-v-590ed78a] {
    color: #787b86;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px
}

.trading .history .top[data-v-590ed78a]>:first-child {
    flex: 1
}

.trading .history .top[data-v-590ed78a]>:nth-child(2) {
    flex: 1.2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer
}

.trading .history .top[data-v-590ed78a]>:nth-child(3) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer
}

.trading .history .top .icon-sort-container[data-v-590ed78a] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px
}

.trading .history .top .icon-sort-container .iconfont[data-v-590ed78a] {
    font-size: 10px;
    padding: 0;
    cursor: pointer
}

.trading .history .top .icon-sort-container .iconfont.active[data-v-590ed78a] {
    color: #558bed
}

.trading .history .content[data-v-590ed78a] {
    padding: 0 20px 20px
}

.trading .history .content a[data-v-590ed78a]:hover {
    text-decoration: none;
    background-color: #292f52
}

.trading .history .content .flex[data-v-590ed78a] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    cursor: pointer
}

.trading .history .content .flex[data-v-590ed78a]>:first-child {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.trading .history .content .flex[data-v-590ed78a]>:nth-child(2) {
    flex: 1.2;
    text-align: right
}

.trading .history .content .flex[data-v-590ed78a]>:nth-child(3) {
    flex: 1;
    text-align: right
}

.trading .history .content span[data-v-590ed78a] {
    color: #c5cbce
}

.trading .history .content span.green[data-v-590ed78a] {
    color: #12b886
}

.trading .history .content span.red[data-v-590ed78a] {
    color: #ff646d
}

.trading .history .content .token-info .token-symbol span[data-v-590ed78a] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
    padding: 0
}

.trading .history .content .token-info .icon-collect[data-v-590ed78a] {
    font-size: 12px;
    color: #787b86;
    cursor: pointer
}

.trading .history .content .token-info .icon-collect.collected[data-v-590ed78a] {
    color: #558bed
}

.ad-tag[data-v-590ed78a] {
    border: 1px solid;
    padding: 0 4px;
    font-size: 12px;
    margin-left: 5px;
    color: #878fbc;
    border-radius: 5px
}

.icon-token-container[data-v-590ed78a] {
    margin-right: 10px
}

.icon-token-container .token-icon[data-v-590ed78a] {
    width: 20px;
    height: 20px
}

.icon-token-container .icon-symbol[data-v-590ed78a] {
    width: 12px;
    height: 12px;
    left: 12px;
    top: 12px
}

.tabs[data-v-590ed78a] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 5px
}

.tabs .fav-tabs[data-v-590ed78a] {
    max-width: 80%
}

.tabs .fav-tabs[data-v-590ed78a] .van-tabs__wrap {
    height: 32px
}

.tabs .fav-tabs[data-v-590ed78a] .van-tabs__wrap .van-tab {
    font-size: 12px
}

.tabs .icon-edit[data-v-590ed78a] {
    font-size: 18px;
    margin-right: 0;
    cursor: pointer;
    color: #787b86
}

.tabs .icon-edit[data-v-590ed78a]:hover {
    color: #fff
}

.token-symbol[data-v-590ed78a] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.token-symbol .btn-remark[data-v-590ed78a] {
    color: #558bed;
    border: .5px solid #558bed;
    border-radius: 4px;
    background-color: transparent;
    font-size: 10px;
    font-weight: 400;
    margin: 2px 0 0 0;
    padding: 1px 4px;
    max-width: 60px
}

.right_nav[data-v-17b8f556] {
    right: 0;
    bottom: 100px;
    position: fixed;
    text-align: left;
    overflow: hidden;
    z-index: 999
}

.right_nav li[data-v-17b8f556] {
    margin: 4px 0;
    padding: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    position: relative;
    right: 0;
    transition: all .2s
}

.right_nav li .iconBox[data-v-17b8f556] {
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px #ddd;
    border-radius: 50%
}

.right_nav li img[data-v-17b8f556] {
    width: 30px;
    height: 30px
}

.right_nav li:hover .iconfont[data-v-17b8f556] {
    background: #558bed;
    color: #fff
}

.right_nav li .hideBox[data-v-17b8f556] {
    display: none;
    position: absolute;
    right: 40px;
    padding: 10px;
    padding-right: 15px;
    top: -155px;
    z-index: 999
}

.right_nav li .hideBox .hb[data-v-17b8f556] {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 12px
}

.right_nav li .hideBox img[data-v-17b8f556] {
    width: 140px;
    height: 140px;
    margin-top: 5px
}

.iconfont[data-v-17b8f556] {
    background: #fff;
    color: #666;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    line-height: 40px;
    text-align: center
}

.table[data-v-2eaa94c4] {
    font-size: 14px;
    color: #fff;
    letter-spacing: .29px;
    position: relative;
    padding: 5px 0 20px
}

.table .remove[data-v-2eaa94c4] {
    color: #ff646d
}

.table .add[data-v-2eaa94c4] {
    color: #12b886
}

.table .table-list[data-v-2eaa94c4] {
    font-size: 12px;
    min-height: 200px;
    color: #fff
}

.table .table-list .table-item[data-v-2eaa94c4] {
    display: flex;
    align-items: center;
    padding: 0 10px
}

.table .table-list .table-item.table-header[data-v-2eaa94c4] {
    font-size: 12px;
    color: #80838b
}

.table .table-list .table-item[data-v-2eaa94c4]:not(.table-header):active,
.table .table-list .table-item[data-v-2eaa94c4]:not(.table-header):hover {
    background: #292f52
}

.table .table-list .table-item .table-item-d[data-v-2eaa94c4] {
    padding: 10px 0
}

.table .table-list .table-item .table-item-d[data-v-2eaa94c4]:first-child {
    flex: 1;
    text-align: left
}

.table .table-list .table-item .table-item-d[data-v-2eaa94c4]:nth-child(2) {
    flex: 4.5;
    text-align: right;
    font-size: 12px
}

.table .table-list .table-item .table-item-d[data-v-2eaa94c4]:nth-child(3) {
    flex: 4;
    text-align: right;
    font-size: 12px
}

.table .table-list .table-item .table-item-d .table-item-d_row[data-v-2eaa94c4] {
    color: #80838b
}

.table .table-list .table-item .table-item-d .table-item-d_row+.table-item-d_row[data-v-2eaa94c4] {
    margin-top: 5px
}

.table .table-list .table-item .table-item-d .table-item-d_row .unit[data-v-2eaa94c4] {
    display: inline-block;
    margin-left: 5px
}

.pagination-box[data-v-2eaa94c4] {
    margin-top: 20px
}

a[data-v-2eaa94c4] {
    color: #558bed
}

.overview[data-v-6cc571ce] {
    color: #787b86;
    padding: 0 15px;
    font-size: 12px;
    line-height: 1.5
}

.overview h3[data-v-6cc571ce] {
    margin: 0 0 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #558bed;
    letter-spacing: 0;
    font-weight: 400
}

.overview li[data-v-6cc571ce] {
    padding: 15px 0
}

.overview li .token-description[data-v-6cc571ce] {
    font-size: 12px;
    overflow-wrap: break-word
}

.overview li+li[data-v-6cc571ce] {
    border-top: .5px solid rgba(135, 143, 188, .3)
}

.overview a[data-v-6cc571ce] {
    color: #fff;
    max-width: 60vw;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.overview table[data-v-6cc571ce] {
    width: 100%;
    line-height: 1
}

.overview tr td[data-v-6cc571ce] {
    padding: 5px 0
}

.overview tr td[data-v-6cc571ce]:first-child,
.overview tr th[data-v-6cc571ce]:first-child {
    color: #787b86;
    text-align: left
}

.overview tr td[data-v-6cc571ce]:nth-child(2),
.overview tr th[data-v-6cc571ce]:nth-child(2) {
    color: #fff;
    letter-spacing: 0;
    font-weight: 400;
    text-align: right
}

.overview tr td:nth-child(2).left[data-v-6cc571ce],
.overview tr th:nth-child(2).left[data-v-6cc571ce] {
    text-align: left
}

.overview tr .iconfont[data-v-6cc571ce] {
    margin-right: 10px
}

.overview .media-list[data-v-6cc571ce] {
    display: flex;
    align-items: center
}

.overview .media-list .media-item+.media-item[data-v-6cc571ce] {
    margin-left: 15px
}

.overview .media-list .media-item .icon-svg[data-v-6cc571ce] {
    font-size: 30px
}

.icon-jubao-box[data-v-6cc571ce] {
    background-color: rgba(29, 34, 61, .3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0
}

.report-container[data-v-6cc571ce] {
    font-size: 14px;
    color: #9aa4d8;
    display: flex;
    justify-content: center
}

.report-btn[data-v-6cc571ce] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.report-btn[data-v-6cc571ce]:active {
    opacity: .3
}

.token-right-container[data-v-0b1dff47] {
    background: #131722
}

.pairs[data-v-0b1dff47] {
    width: 100%;
    padding: 10px 0 0 0
}

.pairs .pairs-table[data-v-0b1dff47] {
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
    border-spacing: 0 2px
}

.pairs .pairs-table th[data-v-0b1dff47] {
    text-align: center;
    font-size: 12px;
    color: #80838b;
    letter-spacing: 0;
    font-weight: 400
}

.pairs .pairs-table td[data-v-0b1dff47] {
    text-align: center;
    padding: 5px 3px;
    word-break: break-word;
    vertical-align: top
}

.pairs .pairs-table td[data-v-0b1dff47]:first-child {
    padding: 5px 0
}

.pairs .pairs-table tr[data-v-0b1dff47] {
    cursor: pointer
}

.pairs .pairs-table tr td[data-v-0b1dff47]:nth-child(2),
.pairs .pairs-table tr th[data-v-0b1dff47]:nth-child(2) {
    text-align: left
}

.pairs .pairs-table tr td[data-v-0b1dff47]:last-child,
.pairs .pairs-table tr th[data-v-0b1dff47]:last-child {
    text-align: right;
    padding-right: 10px
}

.pairs .pairs-table tr td[data-v-0b1dff47]:first-child {
    border-left: 3px solid transparent;
    vertical-align: middle;
    text-align: left
}

.pairs .pairs-table tr td[data-v-0b1dff47]:first-child:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid transparent
}

.pairs .pairs-table tr.active[data-v-0b1dff47] {
    background-color: rgba(85, 139, 237, .1)
}

.pairs .pairs-table tr.active td[data-v-0b1dff47]:first-child {
    border-left: 3px solid #558bed
}

.pairs .pairs-table tr.active td[data-v-0b1dff47]:first-child:before {
    border-left: 5px solid #558bed
}

.main[data-v-0b1dff47] {
    letter-spacing: 0;
    word-break: break-all;
    color: #fff
}

.minor[data-v-0b1dff47] {
    letter-spacing: 0;
    font-weight: 400;
    color: #80838b
}

.collapse-button[data-v-0b1dff47] {
    font-size: 14px;
    color: #9aa4d8;
    line-height: 1.5;
    padding: 10px 0;
    text-align: center;
    cursor: pointer
}

.collapse-button .collapse[data-v-0b1dff47] {
    transition: all .5s;
    transform: rotate(-90deg)
}

.collapse-button .expand[data-v-0b1dff47] {
    transition: all .5s;
    transform: rotate(90deg)
}

.home-content[data-v-a46acd44] {
    font-size: 14px;
    color: #fff;
    background: #000
}

.home-content .container[data-v-a46acd44] {
    margin: 0 auto
}